body{
font-family: "Marker Felt", "Times New Roman", fantasy;
background-color: lightblue;
}
h1 {
font-size: 2em;
color: white;
text-align: center;
}
table {
margin-left: auto;
margin-right: auto;
text-align: left;
border-collapse: collapse;
}
tr {
border: 1px solid lightblue;
text-align: center;
color:lightblue;
background-color:white;
}
th {
text-align: center;
color: lightblue;
b